<style>

</style>
<h1>Oixum SQL</h1>

<form method="post" action="/">
  <textarea name="query" rows="4" cols="30"></textarea><br />
  <input type="submit" />
</form>

{{#if error}}
<h3>Error</h3>
<code>{{ error }}</code>
{{/if}}

{{#if resultados}}
<h3>Resultados</h3>
<code>{{ resultados }}</code>

<h3>Columnas</h3>
<code>{{ columnas }}</code>

{{/if}}

<input type="image" img src="../public/owo.png" alt="asd">
