html
    head
      style
        include css/styles.css

    body
     h2 Oixum weeb
     div(class="amarante")
      h1(class="h1")

      form(method="post" action="/")
        textarea(name="query" rows="4" cols="30")
        input(type="submit")

      if (error)
        h3 Error

          code error


      if (results)
        table(class='table')
          thead
            each col in fields
              th= col.name
          tbody
            each row in results
             tr
              each col in fields
               td= row[col.name]
