h1{ 
    color: beige;
    margin-bottom: -650px;
    margin-left: -20px;
}
body{
    background-color:cornsilk ;    
    
    

}  
.amarante{
    margin-bottom: -500px;

    padding: 50%;    background-color: crimson;
    
}
h2{  padding-left: 600px;
    height: 40px;
    
}


